body {
	max-width: 100vw;
	overflow-x: hidden;
	max-height: 100vh;
	overflow-y: hidden;
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url("../img/bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #15202b;
	margin: 0;
	padding: 0;
	color: #dddddd;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

div#content {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	position: relative;
	min-height: 100vh;
	max-height: 100vh;
	color: #dddddd;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

.error-icon,
.loading-icon {
	width: 10rem;
	height: auto;
}

.error-box {
	padding: 0 20rem;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	align-content: center;
	justify-content: center;
}

.loading-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.nav-bar {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: #15202b;
	width: calc(100% - 2rem);
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 0 1rem;
	padding-top: 0.25rem;
}

.search-box {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0 1rem;
	padding-right: 0;
	background-color: #192734;
	border-radius: 3.9375rem;
}

.search-container {
	flex: 1;
	display: flex;
}

.search-box input {
	line-height: 5px;
	border: none;
	background-color: transparent;
	border: hsl(0, 0%, 18.82%);
	color: #dddddd;
	font-size: 1rem;
	font-weight: 500;
	padding: 0.5rem;
	flex: 1;
	/* Disable spellcheck for modern browsers (including WebKit-based ones) */
	--webkit-user-modify: read-write-plaintext-only;

	/* For Firefox */
	-moz-user-modify: read-write-plaintext-only;
}

.search-box input:focus {
	outline: none;
}

.search-box button {
	border: none;
	background-color: #313e4b;
	color: #dddddd;
	font-size: 1rem;
	font-weight: 500;
	padding: 0.5rem;
	cursor: pointer;
	height: 100%;
	width: 3.5rem;
	border-top-right-radius: 3.9375rem;
	border-bottom-right-radius: 3.9375rem;
}

.search-box img {
	width: 1.5rem;
	height: auto;
}

.search-box button:hover,
.search-box button:active {
	filter: brightness(1.2);
}

.logo-box {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}

.logo-box:hover,
.logo-box:active {
	filter: brightness(1.2);
}

.logo-box h1 {
	font-size: 1.6rem;
	font-weight: 700;
	color: #dddddd;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-top: 10px;
}

.logo-box img {
	width: 2rem;
	height: auto;
}

.toggle-switch {
	position: relative;
	width: 65px;
	height: 30px;
	background-color: #6b757e;
	border-radius: 26px;
	overflow: hidden;
	border: 3px solid #2ca9bc;
}

.toggle-switch input {
	display: none;
}

.toggle-switch label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.toggle-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	transition: transform 0.3s ease;
}

.toggle-icon-metric {
	background: url("../img/metric.svg") center/cover no-repeat;
	right: 3.5px;
	top: 4.5px;
	transform: translateX(0%);
}

.toggle-icon-imperial {
	background: url("../img/imperial.svg") center/cover no-repeat;
	left: 5px;
	top: 5px;
	transform: translateX(0%);
}

.slider {
	position: absolute;
	top: 3px;
	left: 5px;
	width: 24px;
	height: 24px;
	background-color: #2ca9bc;
	border-radius: 50%;
	transition: transform 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + label .slider {
	transform: translateX(33px);
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 0.35rem 0rem;
}

footer a {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.6rem;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 500;
	color: #dddddd;
}

footer p {
	margin: 0.5rem 0;
}

footer a:hover,
footer a:active {
	color: #ffffff;
}

footer a:hover img,
footer a:active img {
	filter: brightness(1.2);
}

.at-symbol {
	font-weight: 900;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

footer img {
	width: 2rem;
	height: auto;
}

.page-container {
	display: grid;
	grid-auto-rows: min-content;
	align-content: space-evenly;
	padding: 2rem;
	padding-bottom: 0;
	gap: 1rem;
}

.current-weather {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	padding: 0 1rem;
}

.search-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.current-info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.current-data {
	display: flex;
	gap: 0.5rem;
}

.current-icon {
	min-width: 7rem;
	width: 7rem;
	max-width: 7rem;
	height: auto;
}

.current-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.current-min-max {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}

.current-info h2,
.current-info h3,
.current-info h4,
.current-info h5 {
	margin: 0;
}

.current-info h2 {
	font-size: 2rem;
	font-weight: 900;
}

.current-info h3 {
	font-size: 2.3rem;
}

.current-info h4 {
	font-size: 1.7rem;
}

.current-info h5 {
	font-size: 1.2rem;
}

.more-weather {
	display: grid;
	grid-template-columns: repeat(5, max-content);
	/* justify-content: space-between; */
	gap: 2.5rem;
	grid-row-gap: 0.25rem;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	/* padding: 0 1rem; */
}

.more-weather-info {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.more-weather-icon {
	width: 3rem;
	height: auto;
}

.more-weather-text {
	display: flex;
	flex-direction: column;
}

.more-weather-title {
	margin: 0;
	font-size: 1rem;
}

.more-weather-value {
	margin: 0;
	font-size: 1.5rem;
}

.main {
	display: flex;
	gap: 1rem;
	justify-content: space-around;
}

.bottom {
	display: flex;
	flex-direction: column;
	max-width: calc(100vw - 6rem);
}

input[type="radio"]:hover + label,
input[type="radio"]:checked + label {
	background-color: #dddddd;
	color: #15202b;
}

input[type="radio"] + label {
	border: 0;
	color: #dddddd;
	font-size: 1.2rem;
	/* border: 3px solid #dddddd; */
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 3.5rem;
}

.hourly-long {
	font-size: 0.8rem;
}

.choice {
	display: inline-block;
	margin-right: 10px;
}

.container label {
	display: inline-block;
	padding: 10px 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #fff;
	font-size: 16px;
	font-weight: 900;
	cursor: pointer;
	transition: all 0.3s ease;
}

input[type="radio"] {
	display: none;
}

.hourly-forecast {
	display: flex;
	justify-content: space-between;
}

.back-btn,
.next-btn {
	font-size: 2.5rem;
	color: #15202b;
	font-weight: 900;
	background-color: #dddddd;
	border: none;
	cursor: pointer;
}

.back-btn:hover,
.next-btn:hover {
	filter: brightness(1.2);
}

.last-updated {
	font-weight: 100;
	font-size: 0.8rem;
	font-style: italic;
	margin: 0;
	position: absolute; /* Position the element absolutely within the container */
	padding: 0.625rem; /* Optional: Add padding to the top element if desired */
	color: #ffffffad;
	width: -moz-available; /* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
	width: fill-available;
	text-align: center;
}

.astro-card {
	display: grid;
	justify-items: center;
	align-items: center;
	gap: 0.5rem;
	margin: 0.5rem 0;
	min-width: 150px;
	border: 1px solid #dddddd;
	border-radius: 15px;
	background-color: #ffffff17;
	justify-content: center;
	transform: rotateX(180deg);
	-ms-transform: rotateX(180deg); /* IE 9 */
	-webkit-transform: rotateX(180deg); /* Safari and Chrome */
	padding: 0.25rem 0;
}

.astro-card * {
	margin: 0;
}

.long-text {
	overflow-wrap: break-word;
	font-size: 1.2rem;
	max-width: 170px;
}

.info-length {
	font-size: 1.1rem;
}

.medium-text {
	font-size: 1.3rem;
}

.day-forecast {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	gap: 1rem;
}

.day-forecast * {
	margin: 0;
}

.last-updated-link {
	text-decoration: underline;
	cursor: pointer;
}

.last-updated-link:hover {
	color: #ffffff;
}

.day-forecast .current-weather-day {
	padding: 1rem;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 2fr 1fr 1fr;
	justify-content: space-around;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 15px;
	background-color: #ffffff17;
	cursor: pointer;
	transition: all 0.3s ease;
}

.day-forecast .current-weather-day:hover {
	background-color: #ffffff26;
}

.day-forecast .current-info-day {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.day-forecast .current-data-day {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.day-forecast h3 {
	font-size: 1.5rem;
	font-weight: 900;
}

.day-forecast h4 {
	font-size: 1.3rem;
	font-weight: 900;
}

.day-forecast .current-icon-day {
	width: 4rem;
	height: auto;
}

.hide {
	display: none;
}

.forecast {
	height: 100%;
	border: 3px solid #dddddd;
	border-radius: 10px;
}

.forecast-slider {
	display: flex;
	overflow-x: auto;
	gap: 2rem;
	padding: 0 1rem;
	transform: rotateX(180deg);
	-ms-transform: rotateX(180deg); /* IE 9 */
	-webkit-transform: rotateX(180deg); /* Safari and Chrome */
	margin-top: 0.2rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

/* Style the scrollbar */
.forecast-slider::-webkit-scrollbar {
	width: 5px; /* Set the width of the scrollbar */
	height: 5px; /* Set the height of the scrollbar */
}

.forecast-slider::-webkit-scrollbar-thumb {
	background-color: #bbb; /* Color of the scrollbar thumb */
	border-radius: 5px; /* Rounded corners for the scrollbar thumb */
}

.forecast-slider::-webkit-scrollbar-thumb:hover {
	background-color: #999; /* Color of the scrollbar thumb on hover */
}

.forecast-slider::-webkit-scrollbar-track {
	background-color: transparent; /* Color of the scrollbar track */
}

.forecast-slider::-webkit-scrollbar-corner {
	background-color: transparent; /* Color of the scrollbar corner */
}

.hourly-card {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin: 0.5rem 0;
	min-width: 150px;
	border: 1px solid #dddddd;
	border-radius: 15px;
	background-color: #ffffff17;
	cursor: pointer;
	transition: all 0.3s ease;
	transform: rotateX(180deg);
	-ms-transform: rotateX(180deg); /* IE 9 */
	-webkit-transform: rotateX(180deg); /* Safari and Chrome */
	padding: 0.25rem 0;
}

.hourly-card:hover {
	background-color: #ffffff26;
}

.hourly-icon {
	width: 3rem;
	height: auto;
}

.more-info-rain,
.more-info-snow {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}
.more-info-hourly {
	display: flex;
}

.more-info-hourly img {
	width: 1.5rem;
	height: auto;
}

.more-info-hourly {
	align-items: center;
	gap: 0.75rem;
}

.hourly-card * {
	margin: 0;
}

.hourly-time {
	font-size: 1.3rem;
	font-weight: 900;
}

.hourly-temp {
	font-size: 1.5rem;
	font-weight: 900;
}

.hourly-condition {
	font-size: 1.2rem;
	font-weight: 900;
}

.suggestions {
	position: absolute;
	top: 100% - 0rem;
	top: calc(100% - 0.5rem);
	width: calc(100% - 29.5rem);
}

.suggestions ul {
	margin: 0px;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	background-color: #192734;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	width: 100%;
	color: #dddddd;
	padding: 0;
	border-top: 1px solid #dddd;
}

.suggestions ul li span {
	padding: 0.75rem 1.5rem;
}

.suggestions ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	font-weight: 900;
	padding-right: 0.5rem;
	transition: all 0.3s ease;
}

.suggestions ul li:hover {
	background-color: #ffffff26;
	color: #ffffff;
}

.suggestions ul li span:nth-of-type(1) {
	padding-top: 1rem;
}

.suggestions ul li span:nth-last-of-type(1) {
	padding-bottom: 1rem;
}

.copy-icon {
	width: 1rem;
	height: auto;
	padding: 0.5rem;
	border-radius: 50%;
	cursor: pointer;
	background-color: #313e4b;
}

.copy-icon:hover {
	filter: brightness(1.2);
	transform: scale(1.1);
	border: 1px solid #dddd;
}

.search-box.active {
	border-bottom-left-radius: 0;
}
